@import '../../css/colors.scss';
@import '../../css/variables.scss';

.header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width: 100%;
    height: 60px;

    font-size: 0.9em;

    background-color: $secondaryBackgroundColor;
    border-bottom: 2px solid $primaryBackgroundColor;

    a {
        text-decoration: none;
    }
}