@import '../../../css/colors.scss';

.nav {
    a {
        margin-right: 20px;

        cursor: pointer;

        transition: 300ms;

        &:hover,
        &.active {
            color: $effectsColor;
        }
    }
}

@media screen and (max-width: 860px) {
    .nav {
        display: none;
    }
}